ENVIRONMENT=DEV
URL_BASE='http://192.168.0.7:3000/api'
IMAGE_COMPRESSION_QUALITY=30
MAPS_API_URL="https://api.openrouteservice.org/v2/directions/driving-car"
MAPS_API_KEY='5b3ce3597851110001cf624828de536ade9043198b880f277df2bbd4'
SOCKETS='http://192.168.0.7:3000'

# Configuración chat de comentarios
CHAT_MAX_FILES=5
CHAT_MAX_FILE_MB=25

