ENVIRONMENT=DEV
URL_BASE='https://dominio-backend/ws/api'
OIDC_ISSUER="https://proveedor-cd3.dev.agetic.gob.bo"
OIDC_CLIENT_ID="0nbz69LYsLJSYa4lWV4ah"
OIDC_REDIRECT_URI="bo.gob.agetic.lince2:/oauth2redirect"
IMAGE_COMPRESSION_QUALITY=30
